<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>mainControllerFilter</filter-name>
        <filter-class>datdh.fitler.mainControllerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>mainControllerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>datdh.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>datdh.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>datdh.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otpServlet</servlet-name>
        <servlet-class>datdh.servlet.otpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesServlet</servlet-name>
        <servlet-class>datdh.servlet.CategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>datdh.servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailServlet</servlet-name>
        <servlet-class>datdh.servlet.detailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>datdh.servlet.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>datdh.servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>datdh.servlet.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>datdh.servlet.orderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>functionServlet</servlet-name>
        <servlet-class>datdh.servlet.functionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadOrderServlet</servlet-name>
        <servlet-class>datdh.servlet.loadOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderServlet</servlet-name>
        <servlet-class>datdh.servlet.cancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>datdh.servlet.userServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadProductServlet</servlet-name>
        <servlet-class>datdh.servlet.uploadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductServlet</servlet-name>
        <servlet-class>datdh.servlet.editProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>datdh.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterServlet</servlet-name>
        <servlet-class>datdh.servlet.filterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageUserServlet</servlet-name>
        <servlet-class>datdh.servlet.manageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productManageServlet</servlet-name>
        <servlet-class>datdh.servlet.productManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCateServlet</servlet-name>
        <servlet-class>datdh.servlet.editCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pagingServlet</servlet-name>
        <servlet-class>datdh.servlet.pagingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMailServlet</servlet-name>
        <servlet-class>datdh.servlet.sendMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testFilter</servlet-name>
        <servlet-class>datdh.servlet.testFilterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otpServlet</servlet-name>
        <url-pattern>/otpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesServlet</servlet-name>
        <url-pattern>/CategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailServlet</servlet-name>
        <url-pattern>/detailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>functionServlet</servlet-name>
        <url-pattern>/functionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadOrderServlet</servlet-name>
        <url-pattern>/loadOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderServlet</servlet-name>
        <url-pattern>/cancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadProductServlet</servlet-name>
        <url-pattern>/uploadProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductServlet</servlet-name>
        <url-pattern>/editProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterServlet</servlet-name>
        <url-pattern>/filterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageUserServlet</servlet-name>
        <url-pattern>/manageUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productManageServlet</servlet-name>
        <url-pattern>/productManageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCateServlet</servlet-name>
        <url-pattern>/editCateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pagingServlet</servlet-name>
        <url-pattern>/pagingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMailServlet</servlet-name>
        <url-pattern>/sendMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testFilter</servlet-name>
        <url-pattern>/testFilter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
